In [59]:
import pandas as pd
import datetime
from pandas_datareader import data, wb
import matplotlib.pyplot as plt
from matplotlib import style
import numpy as np

style.use('ggplot')

In [99]:
start =datetime.datetime(2014, 1, 1)
end = datetime.datetime(2015, 1, 1)

In [100]:
df = data.DataReader("XOM", "yahoo", start, end)

In [101]:
df.head()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2013-12-31,101.389999,100.430000,100.489998,101.199997,8509600.0,85.006851
2014-01-02,100.760002,99.389999,100.599998,99.750000,11028100.0,83.788872
2014-01-03,100.169998,99.139999,99.769997,99.510002,9295600.0,83.587296
2014-01-06,100.139999,98.889999,99.940002,99.660004,11848500.0,83.713280
2014-01-07,101.220001,99.419998,99.610001,101.070000,11187000.0,84.897667

In [102]:
# df['Adj Close'].plot()
# plt.show()

In [103]:
list(df)

['High', 'Low', 'Open', 'Close', 'Volume', 'Adj Close']

In [105]:
# df = df["High"].values.tolist()

df1 = np.array(df[['High', 'Low']])

print(df1[:10])
df1 = pd.DataFrame(df1)
print(df1[:10])

[[101.38999939 100.43000031]
 [100.76000214  99.38999939]
 [100.16999817  99.13999939]
 [100.13999939  98.88999939]
 [101.22000122  99.41999817]
 [101.19000244 100.15000153]
 [100.38999939  99.02999878]
 [100.62999725  99.12000275]
 [100.09999847  98.26999664]
 [ 99.26999664  98.65000153]]
            0           1
0  101.389999  100.430000
1  100.760002   99.389999
2  100.169998   99.139999
3  100.139999   98.889999
4  101.220001   99.419998
5  101.190002  100.150002
6  100.389999   99.029999
7  100.629997   99.120003
8  100.099998   98.269997
9   99.269997   98.650002

In [122]:
#with online data

zellow = pd.read_csv('../../Datasets/ZILLOW-CO1670_ZHVIMTY.csv')

In [123]:
zellow.head(2)

         Date     Value
0  2018-09-30  0.087740
1  2018-08-31  0.072289

In [124]:
zellow.set_index('Date', inplace=True)
zellow.to_csv('../../Datasets/new_saving/zellow.csv')

In [156]:
new = pd.read_csv('../../Datasets/new_saving/zellow.csv')
new.head()

         Date     Value
0  2018-09-30  0.087740
1  2018-08-31  0.072289
2  2018-07-31  0.054414
3  2018-06-30  0.046173
4  2018-05-31  0.036585

In [157]:
new = pd.read_csv('../../Datasets/new_saving/zellow.csv', index_col=0) # for no self indexing
new.head()

               Value
Date
2018-09-30  0.087740
2018-08-31  0.072289
2018-07-31  0.054414
2018-06-30  0.046173
2018-05-31  0.036585

In [158]:
new.to_csv('../../Datasets/new_saving/new.csv', header=False) # for no header title to save
new.columns = ['Hello']# change column name
new.head()

               Hello
Date
2018-09-30  0.087740
2018-08-31  0.072289
2018-07-31  0.054414
2018-06-30  0.046173
2018-05-31  0.036585

In [165]:
df1 = pd.DataFrame({'HPI':[80,85,88,85],
                    'Int_rate':[2, 3, 2, 2],
                    'US_GDP_Thousands':[50, 55, 65, 55]},
                   index = [2001, 2002, 2003, 2004])

df2 = pd.DataFrame({'HPI':[80,85,88,85],
                    'Int_rate':[2, 3, 2, 2],
                    'US_GDP_Thousands':[50, 55, 65, 55]},
                   index = [2005, 2006, 2007, 2008])

df3 = pd.DataFrame({'HPI':[80,85,88,85],
                    'Unemployment':[7, 8, 9, 6],
                    'Low_tier_HPI':[50, 52, 50, 53]},
                   index = [2001, 2002, 2003, 2004])

In [166]:
df4 = df1.append(df2)
df5 = df1.append(df3, sort=True)
# print(df4)
# print(df5)

In [167]:
df4 = pd.merge(df1,df2, on='HPI') #merge on basis of HPI
print(df4)
df4 = pd.merge(df1,df2, on=['HPI','Int_rate'])
print(df4)

   HPI  Int_rate_x  US_GDP_Thousands_x  Int_rate_y  US_GDP_Thousands_y
0   80           2                  50           2                  50
1   85           3                  55           3                  55
2   85           3                  55           2                  55
3   85           2                  55           3                  55
4   85           2                  55           2                  55
5   88           2                  65           2                  65
   HPI  Int_rate  US_GDP_Thousands_x  US_GDP_Thousands_y
0   80         2                  50                  50
1   85         3                  55                  55
2   88         2                  65                  65
3   85         2                  55                  55

In [168]:
df1.set_index(['HPI'], inplace=True)
df3.set_index(['HPI'], inplace=True)

df4 = df1.join(df3)
print(df4)

     Int_rate  US_GDP_Thousands  Unemployment  Low_tier_HPI
HPI
80          2                50             7            50
85          3                55             8            52
85          3                55             6            53
85          2                55             8            52
85          2                55             6            53
88          2                65             9            50

In [169]:
merged = pd.merge(df1, df3, on='Int_rate', how='inner')
merged.set_index('Year', inplace=True)
print(merged)

KeyError: 'Int_rate'