In [0]:
from google.colab import drive
drive.mount('/content/gdrive')

In [0]:
import pandas as pd
pd.set_option('display.height', 1000)
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
# output all lines

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [0]:
# train=pd.read_csv('gdrive/My Drive/learning/Jester/data/train.csv')
# test=pd.read_csv('gdrive/My Drive/learning/Jester/data/test.csv')
# jokes=pd.read_csv('gdrive/My Drive/learning/Jester/data/jokes.csv')
# sample=pd.read_csv('gdrive/My Drive/learning/Jester/data/sample.csv')
u_cols = ['user_id', 'age', 'sex', 'occupation', 'zip_code']
users = pd.read_csv('gdrive/My Drive/learning/MovieLens/data/u.user', sep='|', names=u_cols,
 encoding='latin-1')

#Reading ratings file:
r_cols = ['user_id', 'movie_id', 'rating', 'unix_timestamp']
ratings = pd.read_csv('gdrive/My Drive/learning/MovieLens/data/u.data', sep='\t', names=r_cols,
 encoding='latin-1')

#Reading items file:
i_cols = ['movie id', 'movie title' ,'release date','video release date', 'IMDb URL', 'unknown', 'Action', 'Adventure',
 'Animation', 'Children\'s', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy',
 'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']
items = pd.read_csv('gdrive/My Drive/learning/MovieLens/data/u.item', sep='|', names=i_cols,
 encoding='latin-1')

In [101]:
users.head()
ratings.head()
items.head()

   user_id  age sex  occupation zip_code
0        1   24   M  technician    85711
1        2   53   F       other    94043
2        3   23   M      writer    32067
3        4   24   M  technician    43537
4        5   33   F       other    15213

   user_id  movie_id  rating  unix_timestamp
0      196       242       3       881250949
1      186       302       3       891717742
2       22       377       1       878887116
3      244        51       2       880606923
4      166       346       1       886397596

   movie id        movie title release date  video release date                                           IMDb URL  unknown  Action  Adventure  Animation  Children's  Comedy  Crime  Documentary  Drama  Fantasy  Film-Noir  Horror  Musical  Mystery  Romance  Sci-Fi  Thriller  War  Western
0         1   Toy Story (1995)  01-Jan-1995                 NaN  http://us.imdb.com/M/title-exact?Toy%20Story%2...        0       0          0          1           1       1      0            0      0        0          0       0        0        0        0       0         0    0        0
1         2   GoldenEye (1995)  01-Jan-1995                 NaN  http://us.imdb.com/M/title-exact?GoldenEye%20(...        0       1          1          0           0       0      0            0      0        0          0       0        0        0        0       0         1    0        0
2         3  Four Rooms (1995)  01-Jan-1995                 NaN  http://us.imdb.com/M/title-exact?Four%20Rooms%...        0       0          0          0           0       0      0            0      0        0          0       0        0        0        0       0         1    0        0
3         4  Get Shorty (1995)  01-Jan-1995                 NaN  http://us.imdb.com/M/title-exact?Get%20Shorty%...        0       1          0          0           0       1      0            0      1        0          0       0        0        0        0       0         0    0        0
4         5     Copycat (1995)  01-Jan-1995                 NaN  http://us.imdb.com/M/title-exact?Copycat%20(1995)        0       0          0          0           0       0      1            0      1        0          0       0        0        0        0       0         1    0        0

In [106]:
users.shape
ratings.shape
items.shape

(943, 5)

(100000, 4)

(1682, 24)

In [102]:
r_cols = ['user_id', 'movie_id', 'rating', 'unix_timestamp']
ratings_base = pd.read_csv('gdrive/My Drive/learning/MovieLens/data/ua.base', sep='\t', names=r_cols, encoding='latin-1')
ratings_test = pd.read_csv('gdrive/My Drive/learning/MovieLens/data/ua.test', sep='\t', names=r_cols, encoding='latin-1')
ratings_base.shape, ratings_test.shape

((90570, 4), (9430, 4))

In [0]:
import pandas as pd 
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [0]:
df = pd.read_csv('gdrive/My Drive/learning/MovieLens/data/u.data', sep='\t', names=['user_id','item_id','rating','titmestamp'])

In [105]:
df.head()

   user_id  item_id  rating  titmestamp
0      196      242       3   881250949
1      186      302       3   891717742
2       22      377       1   878887116
3      244       51       2   880606923
4      166      346       1   886397596

In [94]:
# movie_titles = pd.read_csv('Movie_Titles')
# movie_titles.head()

# items['movie title']
new = items.filter(['movie title', 'movie id'], axis=1)
new.rename(columns={'movie id': 'item_id', 'movie title': 'title'}, inplace=True)
new.head()

               title  item_id
0   Toy Story (1995)        1
1   GoldenEye (1995)        2
2  Four Rooms (1995)        3
3  Get Shorty (1995)        4
4     Copycat (1995)        5

In [95]:
df = pd.merge(df, new, on='item_id')
df.head()

   user_id  item_id  rating  titmestamp         title
0      196      242       3   881250949  Kolya (1996)
1       63      242       3   875747190  Kolya (1996)
2      226      242       5   883888671  Kolya (1996)
3      154      242       3   879138235  Kolya (1996)
4      306      242       5   876503793  Kolya (1996)

In [96]:
df.describe()
df.shape

            user_id        item_id         rating    titmestamp
count  100000.00000  100000.000000  100000.000000  1.000000e+05
mean      462.48475     425.530130       3.529860  8.835289e+08
std       266.61442     330.798356       1.125674  5.343856e+06
min         1.00000       1.000000       1.000000  8.747247e+08
25%       254.00000     175.000000       3.000000  8.794487e+08
50%       447.00000     322.000000       4.000000  8.828269e+08
75%       682.00000     631.000000       4.000000  8.882600e+08
max       943.00000    1682.000000       5.000000  8.932866e+08

(100000, 5)

In [98]:
ratings = pd.DataFrame(df.groupby('title')['rating'].mean())
ratings.head()
ratings.shape

                             rating
title
'Til There Was You (1997)  2.333333
1-900 (1994)               2.600000
101 Dalmatians (1996)      2.908257
12 Angry Men (1957)        4.344000
187 (1997)                 3.024390

(1664, 1)

In [0]:
ratings['number_of_ratings'] = df.groupby('title')['rating'].count()
ratings.head()

In [0]:
import matplotlib.pyplot as plt
%matplotlib inline
ratings['rating'].hist(bins=50)

In [0]:
ratings['number_of_ratings'].hist(bins=60)

In [0]:
import seaborn as sns
sns.jointplot(x='rating', y='number_of_ratings', data=ratings)

In [0]:
movie_matrix = df.pivot_table(index='user_id', columns='title', values='rating')
movie_matrix.head()

In [0]:
ratings.sort_values('number_of_ratings', ascending=False).head(10)

In [0]:
AFO_user_rating = movie_matrix['Air Force One (1997)']
contact_user_rating = movie_matrix['Contact (1997)']

In [0]:
AFO_user_rating.head()
contact_user_rating.head()

In [0]:
similar_to_air_force_one=movie_matrix.corrwith(AFO_user_rating)

In [0]:
similar_to_air_force_one

In [0]:
similar_to_contact = movie_matrix.corrwith(contact_user_rating)

In [0]:
similar_to_contact.head()

In [0]:
corr_contact = pd.DataFrame(similar_to_contact, columns=['Correlation'])
corr_contact.dropna(inplace=True)
corr_contact.head()
corr_AFO = pd.DataFrame(similar_to_air_force_one, columns=['correlation'])
corr_AFO.dropna(inplace=True)
corr_AFO.head()

In [0]:
corr_AFO = corr_AFO.join(ratings['number_of_ratings'])
corr_contact = corr_contact.join(ratings['number_of_ratings'])
corr_AFO .head()
corr_contact.head()

In [0]:
corr_AFO[corr_AFO['number_of_ratings'] > 100].sort_values(by='correlation', ascending=False).head(10)

In [0]:
corr_contact[corr_contact['number_of_ratings'] > 100].sort_values(by='Correlation', ascending=False).head(10)

## Recommender system on the Movielens dataset using an Autoencoder and Tensorflow in Python

In [0]:
import tensorflow as tf
# Importing some more libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error as MSE

In [0]:
df = pd.read_csv('gdrive/My Drive/learning/MovieLens/data/u.data', sep='\t', names=['user_id','item_id','rating','titmestamp'])

In [86]:
df.head()
df.drop(columns=['title', 'titmestamp'], inplace=True)
df.head()

   user_id  item_id  rating  titmestamp
0      196      242       3   881250949
1      186      302       3   891717742
2       22      377       1   878887116
3      244       51       2   880606923
4      166      346       1   886397596

ValueError: ignored

In [0]:
# ratings = pd.read_csv('gdrive/My Drive/learning/MovieLens/data/u.data',\
#           sep="::", header = None, engine='python')

# # Lets pivot the data to get it at a user level
# ratings_pivot = pd.pivot_table(ratings[[0]], values=2, index=0, columns=1 ).fillna(0)

# creating train and test sets
X_train, X_test = train_test_split(df, train_size=0.8)

In [123]:
X_train.head()
X_train.shape

       user_id  item_id  rating  titmestamp
47066      648      615       4   884796652
15554      212      427       4   879303795
10974       64      238       4   889739025
95823       25      657       4   885852720
40205      504      386       3   887912431

(80000, 4)

In [0]:
n_nodes_inpl = 3706  
n_nodes_hl1  = 256  
n_nodes_outl = 3706  
# first hidden layer has 784*32 weights and 32 biases
hidden_1_layer_vals = {'weights':tf.Variable(tf.random_normal([n_nodes_inpl+1,n_nodes_hl1]))}
# first hidden layer has 784*32 weights and 32 biases
output_layer_vals = {'weights':tf.Variable(tf.random_normal([n_nodes_hl1+1,n_nodes_outl])) }

In [0]:
# user with 3706 ratings goes in
input_layer = tf.placeholder('float', [None, 3706])

# add a constant node to the first layer it needs to have the same shape as the input layer for me to be able to concatinate it later
input_layer_const = tf.fill( [tf.shape(input_layer)[0], 1] ,1.0  )
input_layer_concat =  tf.concat([input_layer, input_layer_const], 1)

# multiply output of input_layer wth a weight matrix 
layer_1 = tf.nn.sigmoid(tf.matmul(input_layer_concat,\
hidden_1_layer_vals['weights']))

# adding one bias node to the hidden layer
layer1_const = tf.fill( [tf.shape(layer_1)[0], 1] ,1.0  )
layer_concat =  tf.concat([layer_1, layer1_const], 1)

# multiply output of hidden with a weight matrix to get final output
output_layer = tf.matmul( layer_concat,output_layer_vals['weights'])

# output_true shall have the original shape for error calculations
output_true = tf.placeholder('float', [None, 3706])

# define our cost function
meansq =    tf.reduce_mean(tf.square(output_layer - output_true))

# define our optimizer
learn_rate = 0.1   # how fast the model should learn
optimizer = tf.train.AdagradOptimizer(learn_rate).minimize(meansq)

In [0]:

# initialising variables and starting the session
init = tf.global_variables_initializer()
sess = tf.Session()
sess.run(init)
# defining batch size, number of epochs and learning rate
batch_size = 3706  # how many images to use together for training
hm_epochs =200    # how many times to go through the entire dataset
tot_users = X_train.shape[0] # total number of images

In [148]:
# running the model for a 200 epochs taking 100 users in batches
# total improvement is printed out after each epoch

for epoch in range(hm_epochs):
    epoch_loss = 0    
    
    for i in range(int(tot_users/batch_size)):
        epoch_x = X_train[ i*batch_size : (i+1)*batch_size ]
#         print(epoch_x)
        _, c = sess.run([optimizer, meansq],
                         feed_dict={input_layer: epoch_x, 
                         output_true: epoch_x}
                       )
    
        epoch_loss += c
        
    output_train = sess.run(output_layer,
                            feed_dict={input_layer:X_train}
                           )
    
    output_test = sess.run(output_layer,
                           feed_dict={input_layer:X_test}
                          )
        
    print('MSE train', MSE( X_train,output_train),'MSE test', MSE(output_test, X_test))      
    print('Epoch', epoch, '/', hm_epochs, 'loss:',epoch_loss)
    
    
    
    
    
 ### error a rhi

ValueError: ignored

In [149]:
# pick a user
sample_user = X_test.iloc[99,:]
#get the predicted ratings
sample_user_pred = sess.run(output_layer, feed_dict={input_layer:[sample_user]})

ValueError: ignored