In [4]:
import pandas as pd
import numpy as np

In [6]:
# Series

data = np.array(['a','b','c','d'])
s = pd.Series(data)
print(s)
s = pd.Series(data,index=[100,101,102,103])
print(s)

0    a
1    b
2    c
3    d
dtype: object
100    a
101    b
102    c
103    d
dtype: object

In [7]:
data = {'a' : 0., 'b' : 1., 'c' : 2.}
s = pd.Series(data,index=['b','c','d','a'])
print(s)

b    1.0
c    2.0
d    NaN
a    0.0
dtype: float64

In [8]:
# Data Frame

data = [1,2,3,4,5]
df = pd.DataFrame(data)
print(df)

   0
0  1
1  2
2  3
3  4
4  5

In [9]:
data = [['Alex',10],['Bob',12],['Clarke',13]]
df = pd.DataFrame(data,columns=['Name','Age'])
print(df)

     Name  Age
0    Alex   10
1     Bob   12
2  Clarke   13

In [10]:
data = {'Name':['Tom', 'Jack', 'Steve', 'Ricky'],'Age':[28,34,29,42]}  #from dist
df = pd.DataFrame(data, index=['rank1','rank2','rank3','rank4'])
print(df)

        Name  Age
rank1    Tom   28
rank2   Jack   34
rank3  Steve   29
rank4  Ricky   42

In [11]:
data = [{'a': 1, 'b': 2},{'a': 5, 'b': 10, 'c': 20}]
df = pd.DataFrame(data, index=['first','second'])
print(df)

        a   b     c
first   1   2   NaN
second  5  10  20.0

In [21]:
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
      'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}
df = pd.DataFrame(d)
print(df)
print()
print(d['one'])
print()
print(d['two'])

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

a    1
b    2
c    3
dtype: int64

a    1
b    2
c    3
d    4
dtype: int64

In [22]:
df['three']=pd.Series([10,20,30],index=['a','b','c'])
df['four'] = df['one'] + df['two']

print(df)

   one  two  three  four
a  1.0    1   10.0   2.0
b  2.0    2   20.0   4.0
c  3.0    3   30.0   6.0
d  NaN    4    NaN   NaN

In [23]:
df.pop('two')
print(df)

   one  three  four
a  1.0   10.0   2.0
b  2.0   20.0   4.0
c  3.0   30.0   6.0
d  NaN    NaN   NaN

In [24]:
print (df.loc['b'])   #select row

one       2.0
three    20.0
four      4.0
Name: b, dtype: float64